{% extends "base.html" %}

{% block content %}

<div>
    <h3>{{pet.name}}</h3>
    <p> {{pet.species}}</p>
    {% if pet.breed %}
        <p> Breed: {{pet.breed }}</p>
    {% endif %}

    {% if pet.age %}
        <p> Age: {{pet.Age }}</p>
    {% endif %}

    {% if pet.sex %}
        <p> Sex: {{pet.sex }}</p>
    {% endif %}

    {% if pet.vaccinations.all %}
        <ul>
            {% for vaccination in pet.vaccinations.all %}
                <li> {{vaccination}} </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Submitted by: {{pet.submitter}}</p>
    <p>Date: {{pet.submission_date|date:"M d Y" }}</p>
    <p> Description: {{pet.description}} </p>
</div>

{% endblock content %}